<%layout('/Layouts/boilerPlate')%>
<div class="alert alert-danger col-md-6 offset-md-3 mt-3" role="alert">
  <h4 class="alert-heading">Error Code :  <%= statusCode %></h4>
  <h6 class="alert-heading"><%= message %></h6>
</div>



<!-- //we can also use error.stack to show the error stack trace -->